.App {
  text-align: center;
}

.App-logo {
  margin-top: 50px;
  height: 200px;
  pointer-events: none;
}

.title {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
}

.subtitle {
  margin-top: 0px;
  font-family: "Inter";
}

.article {
  width: 1200px;
  min-height: 180px;
  border-radius: 20px;
  padding: 20px;
  font-family: "Inter";
  background-color: rgb(245, 245, 245);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.5);
  border: 2px rgb(209, 209, 209) solid; 
}

.article:hover {
  background-color: rgb(255, 255, 255);
}

.article:focus {
  outline: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.5);
  border: 2px rgb(135, 205, 255) solid;
}

.check-btn {
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 20px 40px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #36a4c3;
  border: none;
  cursor: pointer;
  transition: 
    background-color 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.check-btn:hover {
  background-color: #47bada;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    /* width: 300px; */
  }
}

.App-header {
  background: linear-gradient(90deg, #be8ddc 0%, #020632 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
